#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding: .5rem;
}

#mapList {
  font-size: 2rem;
  padding: .5rem 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

#mapList a {
  color: blue;
  text-decoration: underline;
}

#apiKeyInput {
  font-size: 1.5rem;
}

#apiKeyInput input {
  width: 80%;
}

#apiKeyInput button {
  background: grey;
  padding: .5em;
}

.achievement {
  position: relative;
  display: inline-block;
}

.achievement.locked img {
  filter: grayscale(100%);
}

.achievement-hover {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure it's above the image */
  width: 300px;
}

.achievement:hover .achievement-hover {
  display: block;
}

.achievement-hover h2 {
  font-weight: bold;;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
